[http]
    sslVerify = false
#    proxy = http://proxy:8080



[core] 
	autocrlf = false
    safecrlf = true 
	excludesfile = /Users/karlm/.gitignore_global
[alias] 
	co = checkout 
	ci = commit 
	st = status 
	br = branch 
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph 
	type = cat-file -t 
	dump = cat-file -p 
[color] 
    ui = auto 
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = 
	email = 
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[commit]
	template = /Users/karlm/.stCommitMsg
